Flask==2.2.2
transformers==4.39.3
torch==2.1.2
langchain==0.0.142
pypdf==3.11.1
rank_bm25==0.2.1
nltk==3.8.1
gdown==4.6.4
chromadb==0.3.21
werkzeug==2.2.2
accelerate==0.27.2
sentence-transformers==2.3.1
huggingface_hub==0.26.1
gunicorn==20.1.0
bitsandbytes==0.45.4
numpy>=1.21.0
