Flask==2.2.2
transformers==4.30.0
torch==2.0.1
langchain==0.0.142
PyPDF2==3.0.1
rank_bm25==0.2.1
nltk==3.8.1
gdown==4.6.4
chromadb==0.3.21
werkzeug==2.2.2
accelerate
pypdf
sentence_transformers
huggingface_hub==0.13.3
--upgrade sentence-transformers
--upgrade torch torchvision torchaudio
-U bitsandbytes
gunicorn
